
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Anchor */
/*  Provides vertical adjustment to sections to accomodate the navbar */
.anchor {
    padding-top: 50px;
    margin-top: -50px;
}

/* Parallax */
/*  Parallax support for a parallax image effect */
.parallax {
    min-height: 80vh;
    top: 50px;
    left: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullheight {
    min-height: calc(100vh - 50px);
}

.halfheight {
   min-height: 50vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    quotes: "\201C""\201D""\2018""\2019";
    min-width: 50%;
    max-width: 700px;
}

blockquote {
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    content: close-quote;
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}
