html {
    scroll-behavior: smooth;
    width: 100%;
    min-width: 280px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Smooth scrolling position to account for Navbar */
.anchor {
    padding-top: 57px;
    margin-top: -57px;
}

/* Smooth scrolling position to account for dropdown Navmenu on mobile */
.anchor-mobile {
    padding-top: 208px;
    margin-top: -208px;
}

.box {
    flex: 1 1 150px;
}

.parallax-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.parallax-img {
    object-fit: fill;
    max-height: 100vh;
    min-width: 100%;
    position: fixed;
    bottom: 0;
}

#bg1 {
    z-index: -1;
}

#bg2 {
    z-index: -2;
}

.heroimage {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.fullheight {
    min-height: calc(100vh - 57px);
}

.padded {
    padding: 90px 40px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    quotes: "\201C""\201D""\2018""\2019";
    min-width: 50%;
    max-width: 700px;
}

blockquote {
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    content: close-quote;
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}
