/* Anchor */
/*  Provides vertical adjustment to sections to accomodate the navbar */
.anchor {
    padding-top: 50px;
    margin-top: -50px;
}

/* Parallax */
/*  Parallax support for a parallax image effect */
.parallax {
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}